<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css" />
  <title>メモアプリ</title>
</head>

<body>
  <%= yield %>
  <footer>
    <p>&copy; 2022 uchihiro </p>
  </footer>
</body>

</html>
