<h1>メモアプリ</h1>
<form action="/memos" method="post">
  <h2>タイトル</h2> <input required type="text" name="title">
  <h2>内容</h2> <textarea name="contents"></textarea>
  <p><input type="submit" value="保存"></p>
</form>