<h1 class="memo-heading">このページは存在しません</h1>
<div class="memo-button-container">
  <div class="button-container">
    <div class="button-items"><a class="button-item" href="/memos">戻る</a></div>
  </div>
</div>
