<h1>メモアプリ</h1>
<h2>タイトル</h2>
<p>
  <%= @title %>
</p>
<h2>内容</h2>
<p>
  <%= @contents %>
</p>
<a href="/memos/<%= @id %>/edit">編集</a>
<form>
  <p><input type="submit" value="削除">
</form>
<a href="/memos">TOPへ戻る</a>