<h1 class="memo-heading">メモアプリ</h1>
<ul class="title-list">
  <% if @memo_data.empty? %>
  <p>データがありません</p>
  <% else %>
  <% @memo_data.each do |memo| %>
  <li>
    <a class="title-list-item" href="/memos/<%= memo[:id] %>"><%= h(memo[:title]) %></a>
  </li>
  <% end %>
  <% end %>
</ul>
<div class="memo-button-container">
  <div class="button-container">
    <div class="button-items"><a class="button-item" href="/memos/new">追加</a></div>
  </div>
</div>