/* 
///////////
reset.css
///////////
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 
///////////
初期設定
///////////
*/
html {
  font-size: 10px;
}

body {
  color: #000;
  background-color: #e0e0e0;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  line-height: 1;
}

/* 全てに box-sizing: border-box; を適用 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
////////////////////
メモアプリデザイン
////////////////////
*/

/* 画面見出し */
.memo-heading {
  background-color: #006400;
  border-bottom: 3px solid #006400;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  padding: 3rem 2rem;
  text-align: center;
}

/* TOPページのリスト */
.title-list {
  font-size: 2rem;
  margin: 4rem auto;
  width: 30%;
}

.title-list-item {
  display: block;
  padding-bottom: 1rem;
  text-decoration: none;
}

/* メモ画面のコンテナ */
.memo-label-detail {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
}

.memo-detail-container {
  margin: 5rem auto 2rem;
  width: 30%;
}

.memo-button-container {
  margin: 2rem auto;
  width: 50%;
}

/* ボタン */
.button-container {
  display: flex;
  justify-content: center;
}

.button-items {
  margin: 2rem;
  width: 20%;
}

.button-item,
.button-second-row-item {
  background-color: #006400;
  border: solid 2px #006400;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.button-item {
  border-radius: 3px;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  line-height: 5rem;
  width: 100%;
}

.button-second-row-item {
  border-radius: 3px;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 1rem 0 0 0;
  text-align: center;
  width: 20%;
}

/* フォーム */
.form-container {
  margin: 5rem auto;
  width: 50%;
}

.memo-label {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.form-items-item {
  margin-bottom: 2rem;
}

input[type="text"],
textarea {
  border: solid 1px #aaa;
  border-radius: 4px;
  font-size: 1.5rem;
  outline-color: #B5CD98;
  width: 100%;
}

input[type="text"] {
  height: 4rem;
}

textarea {
  height: 20rem;
}

/* メモ詳細画面 */
.memo-text-detail {
  font-size: 2rem;
  margin-bottom: 6rem;
}

/* フッター */
footer {
  font-size: 1.2rem;
  margin-top: 4rem;
  text-align: center;
}
